.intro-content {
    /*to put it a little bit on the top*/
    position: relative;
    /*substracting the menu size*/
    top: -8rem;
    /*will realign my intro content*/
    display: grid;
    /*one fragment for each side*/
    grid-template-columns: 1fr 1.5fr;
    /*if I want to align contents inside the center-ligne*/
    gap: var(--gap);
    /*grid isn't the total size of the sceen so:*/
    height: 100vh;
}
.intro-text-content, .intro-img {
    /*putting a flex inside a grid column to align txt-cntt center*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-img img,
.intro-img svg {
    max-width: 100%;
    height: auto;
}
.top3-content {
    /*to hold it in the screen's center*/
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;

}

.grid-main-heading {
   margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    /*css counter for the titles*/
    counter-reset: grid-counter;
}
.grid h3 {
    font-size: 3rem;
    /*must be relative or the counter will be up page(top:0)*/
    position: relative;
    /*using padding so it will no9t push the h2 cntnt down with it*/
    padding-left: 5rem;
    /*if I use 'top:10px' it will not position the content down so padding-bottom*/
    padding-bottom: 2rem;
}
.grid h3::before /*it's before the title*/{
    /*using the counter*/
    counter-increment: grid-counter;
    /*setting the counter*/
    content:counter(grid-counter);
    /*positioning the counter*/
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    /*setting it far from the title*/
    top: -4rem;
    left: -2rem;
    /*to rotate it a little*/
    transform: rotate(5deg);
}
